*.aux
*.log

lib/macosx64/*
classes/
pom-generated.xml
pom.xml
native
.cake
.lein-deps-sum
target
.lein-repl-history
.lein-failures
.nrepl-port
*.iml
*.idea
/lib/macosx64/libcrypto.dylib
/lib/macosx64/libdc1394.dylib
/lib/macosx64/libdca.dylib
/lib/macosx64/libdv.dylib
/lib/macosx64/libffi.dylib
/lib/macosx64/libgio-2.0.dylib
/lib/macosx64/libglib-2.0.dylib
/lib/macosx64/libgmodule-2.0.dylib
/lib/macosx64/libgobject-2.0.dylib
/lib/macosx64/libgstapp-0.10.dylib
/lib/macosx64/libgstaudio-0.10.dylib
/lib/macosx64/libgstbase-0.10.dylib
/lib/macosx64/libgstbasecamerabinsrc-0.10.dylib
/lib/macosx64/libgstbasevideo-0.10.dylib
/lib/macosx64/libgstcodecparsers-0.10.dylib
/lib/macosx64/libgstcontroller-0.10.dylib
/lib/macosx64/libgstdataprotocol-0.10.dylib
/lib/macosx64/libgstfft-0.10.dylib
/lib/macosx64/libgstinterfaces-0.10.dylib
/lib/macosx64/libgstnetbuffer-0.10.dylib
/lib/macosx64/libgstpbutils-0.10.dylib
/lib/macosx64/libgstphotography-0.10.dylib
/lib/macosx64/libgstreamer-0.10.dylib
/lib/macosx64/libgstriff-0.10.dylib
/lib/macosx64/libgstrtp-0.10.dylib
/lib/macosx64/libgstrtsp-0.10.dylib
/lib/macosx64/libgstsdp-0.10.dylib
/lib/macosx64/libgsttag-0.10.dylib
/lib/macosx64/libgstvideo-0.10.dylib
/lib/macosx64/libgthread-2.0.dylib
/lib/macosx64/libiconv.dylib
/lib/macosx64/libintl.dylib
/lib/macosx64/libjasper.dylib
/lib/macosx64/libjpeg.dylib
/lib/macosx64/libmpcdec.dylib
/lib/macosx64/libncurses.dylib
/lib/macosx64/libogg.dylib
/lib/macosx64/liborc-0.4.dylib
/lib/macosx64/liborc-test-0.4.dylib
/lib/macosx64/libssl.dylib
/lib/macosx64/libtheoradec.dylib
/lib/macosx64/libtheoraenc.dylib
/lib/macosx64/libusb-1.0.dylib
/lib/macosx64/libvorbis.dylib
/lib/macosx64/libvorbisenc.dylib
/lib/macosx64/libxml2.dylib
/lib/macosx64/libxvidcore.dylib
/lib/macosx64/libz.dylib
/lib/macosx64/plugins/libgstadder.so
/lib/macosx64/plugins/libgstadpcmdec.so
/lib/macosx64/plugins/libgstadpcmenc.so
/lib/macosx64/plugins/libgstaiff.so
/lib/macosx64/plugins/libgstalaw.so
/lib/macosx64/plugins/libgstalpha.so
/lib/macosx64/plugins/libgstalphacolor.so
/lib/macosx64/plugins/libgstannodex.so
/lib/macosx64/plugins/libgstapetag.so
/lib/macosx64/plugins/libgstapexsink.so
/lib/macosx64/plugins/libgstapp.so
/lib/macosx64/plugins/libgstapplemedia.so
/lib/macosx64/plugins/libgstasfmux.so
/lib/macosx64/plugins/libgstaudioconvert.so
/lib/macosx64/plugins/libgstaudiofx.so
/lib/macosx64/plugins/libgstaudioparsers.so
/lib/macosx64/plugins/libgstaudiorate.so
/lib/macosx64/plugins/libgstaudioresample.so
/lib/macosx64/plugins/libgstaudiotestsrc.so
/lib/macosx64/plugins/libgstauparse.so
/lib/macosx64/plugins/libgstautoconvert.so
/lib/macosx64/plugins/libgstautodetect.so
/lib/macosx64/plugins/libgstavi.so
/lib/macosx64/plugins/libgstbayer.so
/lib/macosx64/plugins/libgstbz2.so
/lib/macosx64/plugins/libgstcamerabin.so
/lib/macosx64/plugins/libgstcamerabin2.so
/lib/macosx64/plugins/libgstcdxaparse.so
/lib/macosx64/plugins/libgstcoloreffects.so
/lib/macosx64/plugins/libgstcolorspace.so
/lib/macosx64/plugins/libgstcoreelements.so
/lib/macosx64/plugins/libgstcoreindexers.so
/lib/macosx64/plugins/libgstcutter.so
/lib/macosx64/plugins/libgstdataurisrc.so
/lib/macosx64/plugins/libgstdc1394.so
/lib/macosx64/plugins/libgstdccp.so
/lib/macosx64/plugins/libgstdebug.so
/lib/macosx64/plugins/libgstdebugutilsbad.so
/lib/macosx64/plugins/libgstdecodebin.so
/lib/macosx64/plugins/libgstdecodebin2.so
/lib/macosx64/plugins/libgstdeinterlace.so
/lib/macosx64/plugins/libgstdtmf.so
/lib/macosx64/plugins/libgstdtsdec.so
/lib/macosx64/plugins/libgstdv.so
/lib/macosx64/plugins/libgstdvbsuboverlay.so
/lib/macosx64/plugins/libgstdvdspu.so
/lib/macosx64/plugins/libgstefence.so
/lib/macosx64/plugins/libgsteffectv.so
/lib/macosx64/plugins/libgstencodebin.so
/lib/macosx64/plugins/libgstequalizer.so
/lib/macosx64/plugins/libgstfestival.so
/lib/macosx64/plugins/libgstffmpeg.so
/lib/macosx64/plugins/libgstffmpegcolorspace.so
/lib/macosx64/plugins/libgstffmpegscale.so
/lib/macosx64/plugins/libgstfieldanalysis.so
/lib/macosx64/plugins/libgstflv.so
/lib/macosx64/plugins/libgstflxdec.so
/lib/macosx64/plugins/libgstfragmented.so
/lib/macosx64/plugins/libgstfreeze.so
/lib/macosx64/plugins/libgstfrei0r.so
/lib/macosx64/plugins/libgstgaudieffects.so
/lib/macosx64/plugins/libgstgdp.so
/lib/macosx64/plugins/libgstgeometrictransform.so
/lib/macosx64/plugins/libgstgio.so
/lib/macosx64/plugins/libgstgoom.so
/lib/macosx64/plugins/libgstgoom2k1.so
/lib/macosx64/plugins/libgstgsettingselements.so
/lib/macosx64/plugins/libgsth264parse.so
/lib/macosx64/plugins/libgsthdvparse.so
/lib/macosx64/plugins/libgsticydemux.so
/lib/macosx64/plugins/libgstid3demux.so
/lib/macosx64/plugins/libgstid3tag.so
/lib/macosx64/plugins/libgstimagefreeze.so
/lib/macosx64/plugins/libgstinterlace.so
/lib/macosx64/plugins/libgstinterleave.so
/lib/macosx64/plugins/libgstisomp4.so
/lib/macosx64/plugins/libgstivfparse.so
/lib/macosx64/plugins/libgstjp2k.so
/lib/macosx64/plugins/libgstjp2kdecimator.so
/lib/macosx64/plugins/libgstjpegformat.so
/lib/macosx64/plugins/libgstlegacyresample.so
/lib/macosx64/plugins/libgstlevel.so
/lib/macosx64/plugins/libgstliveadder.so
/lib/macosx64/plugins/libgstmatroska.so
/lib/macosx64/plugins/libgstmpegdemux.so
/lib/macosx64/plugins/libgstmpegpsmux.so
/lib/macosx64/plugins/libgstmpegtsdemux.so
/lib/macosx64/plugins/libgstmpegtsmux.so
/lib/macosx64/plugins/libgstmpegvideoparse.so
/lib/macosx64/plugins/libgstmulaw.so
/lib/macosx64/plugins/libgstmultifile.so
/lib/macosx64/plugins/libgstmultipart.so
/lib/macosx64/plugins/libgstmusepack.so
/lib/macosx64/plugins/libgstmve.so
/lib/macosx64/plugins/libgstmxf.so
/lib/macosx64/plugins/libgstnavigationtest.so
/lib/macosx64/plugins/libgstnsf.so
/lib/macosx64/plugins/libgstnuvdemux.so
/lib/macosx64/plugins/libgstogg.so
/lib/macosx64/plugins/libgstoss4audio.so
/lib/macosx64/plugins/libgstosxaudio.so
/lib/macosx64/plugins/libgstosxvideosink.so
/lib/macosx64/plugins/libgstpatchdetect.so
/lib/macosx64/plugins/libgstpcapparse.so
/lib/macosx64/plugins/libgstplaybin.so
/lib/macosx64/plugins/libgstpnm.so
/lib/macosx64/plugins/libgstpostproc.so
/lib/macosx64/plugins/libgstrawparse.so
/lib/macosx64/plugins/libgstreal.so
/lib/macosx64/plugins/libgstreplaygain.so
/lib/macosx64/plugins/libgstrfbsrc.so
/lib/macosx64/plugins/libgstrtp.so
/lib/macosx64/plugins/libgstrtpmanager.so
/lib/macosx64/plugins/libgstrtpmux.so
/lib/macosx64/plugins/libgstrtpvp8.so
/lib/macosx64/plugins/libgstrtsp.so
/lib/macosx64/plugins/libgstscaletempoplugin.so
/lib/macosx64/plugins/libgstsdi.so
/lib/macosx64/plugins/libgstsdpelem.so
/lib/macosx64/plugins/libgstsegmentclip.so
/lib/macosx64/plugins/libgstshapewipe.so
/lib/macosx64/plugins/libgstsiren.so
/lib/macosx64/plugins/libgstsmpte.so
/lib/macosx64/plugins/libgstspectrum.so
/lib/macosx64/plugins/libgstspeed.so
/lib/macosx64/plugins/libgststereo.so
/lib/macosx64/plugins/libgstsubenc.so
/lib/macosx64/plugins/libgstsubparse.so
/lib/macosx64/plugins/libgsttcp.so
/lib/macosx64/plugins/libgsttheora.so
/lib/macosx64/plugins/libgsttta.so
/lib/macosx64/plugins/libgsttypefindfunctions.so
/lib/macosx64/plugins/libgstudp.so
/lib/macosx64/plugins/libgstvideobox.so
/lib/macosx64/plugins/libgstvideocrop.so
/lib/macosx64/plugins/libgstvideofilter.so
/lib/macosx64/plugins/libgstvideofiltersbad.so
/lib/macosx64/plugins/libgstvideomaxrate.so
/lib/macosx64/plugins/libgstvideomeasure.so
/lib/macosx64/plugins/libgstvideomixer.so
